@import "vars.scss";

.theme-dark {
    dropdown, TextEntry, TRTextEntry {
        color: white;
        background-color: #061C37;
        border: 1px solid rgba(55, 54, 126, 0.75);
        .placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
    }
    TRTextEntry {
        &:focus {
            background-color: #083D64;
            border: 1px solid #368EF4;
        }
        
    }

    .themeSet {
        &.panel {
            .header { 
                color: white;
            }
            box-sizing: border-box;
            
            /* Auto layout */
                        
            background-color: #061C37;
            border: 1px solid rgba(55, 54, 126, 0.75);
            border-radius: 18px; 

            &.info {
                background-color: #083D64;
                border: 1px solid #368EF4;
            }
            &.danger {
                background-color: #640808;
                border: 1px solid #F43636;
            }
        }
    }
}

